@import 'vars';
@import 'global';
@import 'fonts';

.header{
    margin-bottom: 50px;
    &__inner{
        padding: 15px 0 17px;
    }
}
.logo{
    margin-top: -10px;
}
.logo, .footer-logo{
    position: relative;
    &__img{
        width: 30px;
        height: 30px;
    }
    &__txt{
        left: 44px;
        top: 5px;
        right: 15px;
        font-weight: 700;
        font-size: 24px;
        font-style: normal;
        letter-spacing: 2.4px;
        color: #1d486c;
        text-shadow: #1d486c 0 0 0.9px;
        position: absolute;
    }
}
.menu, .footer-menu{
    font-size: 14px;
    line-height: 28px;
    margin-left: auto;
    @include f400;
    &__list-item{
        .menu__list-link, .footer-menu__list-link{
            color: $head-font;
        }
    }
}
.menu__list-item + .menu__list-item{
    margin-left: 24px;
}
.user-nav{
    margin-left: 53px;
    margin-right: 15px;
    &__link{
        padding: 11px 23px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
        @include f600;
        font-size: 16px;
        line-height: 24px;
        color: #173A56;
        &+.user-nav__link{
            margin-left: 14px;
            @extend %btn-orange;
        }
    }
}
.menu__btn{
    width: 35px;
    height: 20px;
    display: none;
    &::before, 
    &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        top: 0;
        background-color: #173A56;
    }
    &::before{
        transform: rotate(135deg);
        left: 7px;
        right: 0;
    }
    &::after{
        left: -7px;
        right: 0;
        transform: rotate(-135deg);
    }
}
// SECTION TOP start
.top{
    margin-bottom: 112px;
}
.top__content{
    background-image: url(../images/main-img.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 120px;
    padding-top: 83px;
    &-title{
        max-width: 518px;
    }
    &-txt{
        max-width: 458px;
        color: $main-txt;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 45px;
    }
    &-btn{
        @include f700;
        @extend %btn-orange;
        padding: 15px 40px;
        margin-right: 30px;
    }
    &-link{
        color: $orange;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        padding-left: 25px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 17px;
            height: 19px;
            background-image: url('../images/icons/triangle.svg');
        }
    }
}
// SECTION POWERS start
.powers{
    padding-bottom: 90px;
    margin-bottom: 120px;
    @extend %gradient-bg;
    &__title{
        margin: 0 auto;
        text-align: center;
        max-width: 540px;
        margin-bottom: 46px;
    }
    &__inner{
        padding-top: 10px;
    }
    &-list{
        margin-left: 15px;
        margin-right: 15px;
        
    }
}
.powers-list > .powers-list__item + .powers-list__item{
    margin-left: 40px;
}
.powers-list__item{
    max-width: 240px;
    width: 100%;
    min-height: 100%;
    img{
        margin-bottom: 30px;
    }
    h6{
        margin: 0 0 13px 0;
    }
    .powers__txt{
        padding-bottom: 30px;
    }
}
.powers__link, .footer__form-link{
    text-transform: uppercase;
    @extend %btn-orange;
    @include f700;
    margin: 0 auto;
    padding: 15px 35px 14px 32px;
    width: 180px;
    display: block;
}
// SECTION DESIGN start
.design, .manager, .marketer {
    &__inner{
        background-repeat: no-repeat;
        background-position: top right;
        padding: 26px 0 50px;
        margin-bottom: 100px;
    }
    &__txt{
        max-width: 486px;
        margin-bottom: 30px;
    }
    &__subtitle{
        color: $main-txt;
    }
    &__title{
        text-transform: initial;
        margin-bottom: 22px;
    }
    &__list{
        max-width: 486px;
    }
    &__list-content{
        margin-bottom: 25px;
        h6{
            margin-bottom: 12px;
        }
    }
}
// *   *       * 
//  *       *
//     * <B>    *  *    *      
// *     /&\*
//  *   /&&/  *   *  **    *
//    * \&&&\*    *     *
//       /&&&\ *    *      * 
//  *  /&&&&/    *    *
//    /&&&&&\
// /&&&&&&&&&&&&\   *   *
//  |ˆ__ˆˆ__ˆ|
// }| 0    0 |{    *                     
//  |   /\   |
//   \  ˜˜  /     *
//     ``˜``
.manager{
    &__wrapper{
        img{
            height: 521px;
            width: 535px;
            object-fit: fill;
            // height: auto;
            max-width: 100%;
        }
    }
    &__inner{
        margin: 24px 0 0;
        padding: 26px 0 150px;
    }
    &__txt{
        margin-bottom: 30px;
    }
    &__list{
        &-content{
            position: relative;
            padding-left: 65px;
            margin-bottom: 30px;
            &::before{
                content: url('../images/icons/ok.png');
                position: absolute;
                left: 0px;
                width: 35px;
                height: 35px;
            }
        }
    }
}
.marketer__inner{
    margin-bottom: 157px;
    padding: 26px 0 30px;
}
// SECTION SUPERHERO start
.team{
    @extend %gradient-bg;
    background-position: top center;
    &__inner{
        position: relative;
        .team__item{
            position: absolute;
            width: 98px;
            height: 98px;
            @include bubbles;
            .team__item-img{
                background-color: $blue-sky;
                border-radius: 50%;
                width: 98px;
                height: 98px;
                object-fit: cover;
                overflow: hidden;
              
            }
            .team__item-txt{
                background-color: #fff;
                padding: 14px 21px;
                border-radius: 26px;
                display: inline-block;
                white-space: nowrap;
                box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
                position: absolute;
                top: -38px;
                right: 67px;
            }
        }
        .team__item--1{
            right: 90px;
            top: 157px;
        }
        .team__item--2{
            right: 0;
            bottom: 267px;
        }
        .team__item--3{
            right: 365px;
            bottom: 135px;
            .team__item-txt--right{
                right: 40px;
                top: -40px;
                &::before{
                    right: 37px;
                    bottom: -17px;
                }
                &::after{
                    right: 60px;
                }
            }
        }
        .team__item--4{
            left: 210px;
            bottom: 233px;
        }
        .team__item--5{
            left: 0px;
            top: 182px;
            .team__item-txt--left{
                right: -230px;
                &::before{
                    bottom: -16px;
                    left: 16px;
                }
                &::after{
                    left: 36px;
                }
            }
        }
    }
    &__box{
        padding: 230px 0 409px;
        text-align: center;
        .team__title{
            margin-bottom: 22px;
            display: inline-block;
        } 
        .team__txt{
            color: $blue-sky;   
            @include f500;
            width: 542px;
            margin: 0 auto;
            margin-bottom: 45px;
        }
        .team__btn{
            @extend %btn-orange;
            padding: 15px 30px;
            @include f700;
        }
    }
}
// SECTION BLOG SLIDER start
.blog{
    .container{
        border-bottom: 1px solid $blue-sky;
        border-width: 100%;
    }
    &__title{
        font-size: 34px;
        line-height: 51px;
    }
    &__subtitle{
        color: $main-txt;
        @include f500;
        margin-bottom: 55px;
        display: block;
    }
    .slider{
        margin-bottom: 120px;
    }
    .slider__items{
        margin: 0 -22px;
        .slider__item{
            padding: 0 22px 39px;
            a > .slider__item-img{
                width: 348px;
                height: 185px;
                max-width: 100%;
                object-fit: cover;
                background-color: $blue-sky;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            &-info{
                max-width: 294px;
                width: 100%;
                margin-top: 25px;
                span {
                    margin-bottom: 12px;
                    @include f400;
                    color: $main-txt;
                    a{
                        @include f700;
                        color: $main-txt;
                    }
                }
                a .slider__item-title{
                    font-size: 24px;
                    line-height: 34px;
                    padding-bottom: 39px;
                    transition: all .3s;
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
    }
}
.slick-next, .slick-prev{
    visibility: hidden;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots button{
    list-style: none;
    padding: 0;
    font-size: 0;
    background-color: #efefef;
    border-radius: 50%;
    border: none;
    width: 16px;
    height: 16px;
    margin: 5px;
}
.slick-dots .slick-active button{
    background-color: $orange;
}

// FOOTER start
.footer{
    padding-top: 106px;
    padding-bottom: 101px;
    &__inner{
        flex-wrap: wrap;  
    }
    &-menu{
        flex-direction: column;
    }
    &-menu__list{
        width: 135px;
    }
    &-menu__list, .footer__form{
        flex-direction: column;
    }
    &-menu__title{
        margin-bottom: 30px;
        padding-top: 2px;
        @include f500;
    }
    &__form{
        margin-left: auto;
        &-input{
            border: 1px solid $blue-sky;
            border-radius: 4px;
            height: 48px;
            width: 330px;
            margin-bottom: 21px;
            display: inline-block;
            padding: 0 15px;
            &::placeholder{
                font-size: 16px;
                line-height: 28px;
                color: $blue-sky;
            }
        }
        &-link{
            padding: 8px 15px;
            text-transform: capitalize;
            @include f700;
            border-radius: 4px;
            margin-left: 0;
        }
    }
}
.footer__form-title{
  
    margin-bottom: 30px;
    @include f500;
}
.grid{
    max-width: 100%;
    width: 100%;
    flex-basis: calc(24% - 15px);
}

@import 'media';